name: model-training
on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    container: ghcr.io/iterative/cml:0-dvc2-base1
    steps:
      - uses: actions/checkout@v3
      - name: Train model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
        run: |
          # Install requirements
          pip install -r requirements.txt

         
        
          dvc repro

          # Report metrics
          echo "## Metrics" >> report.md
          # git fetch --prune
          dvc metrics diff --show-md main >> report.md

          # Publish confusion matrix diff
          echo "## Confusion matrix plot " >> report.md
          dvc plots diff --target classes.csv --template confusion -x actual -y predicted --show-vega main > vega.json
          vl2png vega.json -s 1.5 > confusion_plot.png
          echo "![](./confusion_plot.png)" >> report.md

          cml comment create report.md
